<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnalv</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div id="top">
        <nav>
            <a href="/"><img src="logo.png" id="logo"></a>
            <a href="/" id="home">Home</a>
            <a href="/course-resources">Course Resources</a>
            <a href="/aboutus">About Us</a>
        </nav>
        <div id="header">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="Intro">
        <div class="Intro-box">
            <h2>Who Are We</h2>
            <p>We're Arnav Arora, Harshith Reddy Gade, and Adit Rajaram. We're students at Coppell ISD with a burning passion for web development.</p>
        </div>
        <div class="Intro-box">
            <h2>Our story</h2>
            <p>The idea began when Arnav Arora realized that web development wasn't taught in much detail and usually didn't go over much more than the very basics. As a result, he decided to start a boot camp alongside the 2 best coders he knew, Harshith Reddy Gade and Adit Rajaram. Together, they were able to start the boot camp, overcoming every hurdle along the way. </p>
        </div>
        <div class="Intro-box">
            <h2>Our Pledge</h2>
            <p>We promise to give high-quality education in web development to all of our students along with guidance along the way to make them not just the best coders, but the best problem solvers they can be.</p>
        </div>
    </div>
    <%- include("footer.ejs") %>
</body>
</html>
