<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="top" class=".resource-nav" style="position: sticky; top: -11.5em;">
            <nav>
                <a href="/"><img src="logo.png" id="logo"></a>
                <a href="/" id="home" style="text-decoration: none;">Home</a>
                <a href="/course-resources" style="text-decoration: none;"">Course Resources</a>
            </nav>
            <div id="header">
                <h1 style="font-size: 4em;">Course Resources</h1>
            </div>
        </div>
        <!-- <div id="top">
        <nav>
            <a href="/"><img src="logo.png" id="logo"></a>
            <a href="/" id="home">Home</a>
            <a href="/course-resources">Course Resources</a>
        </nav>
        <div id="header">
            <h1>Web Wizards</h1>
            <h2>Coding Academy</h2>
        </div>
    </div> -->
        <div class=""container py-5">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div id="featureCol1" class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary text-white rounded-3 mb-3">
                       <i class="bi bi-record-circle"></i> 
                    </div>
                    <h3 class="fs-2">Video Recordings</h3>
                    <p class="text-muted">
                    This is where you can find video recordings from each day of the bootcamp. You can also see recordings from each of our instructors, and this will change as the course progresses.
                    </p>
                    <a href="Will Define Later" class="icon-link d-inline-flex align-items-center">
                        Click Here to See All Recordings
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>

                <div id="featureCol2" class="feature col">
                     <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary text-white rounded-3 mb-3">
                       <i class="bi bi-file-earmark-code-fill"></i> 
                    </div>
                    <h3 class="fs-2">Content Slides</h3>
                    <p class="text-muted"> This is where you can find the slides that have all the content that we learned for each day of the bootcamp. 
                        As we progress, more of the slides will be posted here. Obviously, if you have any questions that we haven't 
                        answered during the lessons, please contact us by email or look at these slides to clarify any doubts. </p>
                    <a href="https://www.canva.com/design/DAGiSPQeOeg/LdtQP3sDqoz4pvuSK3n4mg/edit?utm_content=DAGiSPQeOeg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="icon-link d-inline-flex align-items-center">
                        Day 1 Slides
                        <i class="bi bi-chevron-right"></i>
                    </a>

                </div>
                
                <div id="featureCol3" class="feature col">
                     <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary text-white rounded-3 mb-3">
                       <i class="bi bi-list-task"></i> 
                    </div>
                    <h3 class="fs-2">Homework</h3>
                    <p>This is where you can find information about the requirments for each days homeowork tasks.
                    Similar to the content, if anything doesn't make sense and you need to get calrifications, please contact
                     us or look here for any doubts, and we'll be happy to help.</p>
                    <a href="Will Define Later" class="icon-link d-inline-flex align-items-center">
                        Day 1 Homework Slides
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"></script>
    </body>
</html>