<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnalv</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    
    <nav>
        <h1>Web Wizards</h1>
        <h2>Coding Academy</h2>
    </nav>

    <div class="Intro">
        <h2>Our Mission</h2>
        <p>
             We aim to teach web development to middle school students <br> 
            We offer free courses, teaching full stack development, <br>
            We teach students using methods that foster their critical thinking <br> and problem solving abilities.
            We strive to make out students <br> better not just at coding, but at solving all kinds of problems.
            
        </p>
    </div>
    <div class="Schedule">
        <h2>Schedule</h2>
        <table>
            <tr>
                <td>Day 1: HTML, Intro to CSS, and Git</td>
                <td>Day 6: SQL</td>
            </tr>
            <tr>
                <td>Day 2: CSS</td>
                <td>Day 7: PostgreSQL</td>
            </tr>
            <tr>
                <td>Day 3: JS and jQuery</td>
                <td>Day 8: Authentication and Security</td>
            </tr>
            <tr>
                <td>Day 4: Node, NPM, and Express</td>
                <td>Day 9: Begin Project</td>
            </tr>
            <tr>
                <td>Day 5: EJS</td>
                <td>Day 10: Project Presentation</td>
            </tr>
        </table>
    </div>
    <div>
        <h2>More Coming Soon</h2>
    </div>
</body>
<%- include("footer.ejs") %>
</html>