<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnalv</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div id="top">
        <nav>
            <a href="/">Home</a>
            <a href="/course-resources">Course Resources</a>
        </nav>
        <div id="header">
            <h1>Web Wizards</h1>
            <h2>Coding Academy</h2>
        </div>
    </div>

    <div class="Intro">
        <div class="Intro-box">
            <h2>Mission</h2>
            <p>We provide free, comprehensive courses in full-stack web development tailored for middle school students.</p>
        </div>
        <div class="Intro-box">
            <h2>Approach</h2>
            <p>Our teaching approach emphasizes critical thinking and problem-solving to build a strong foundation beyond just coding skills.</p>
        </div>
        <div class="Intro-box">
            <h2>Impact</h2>
            <p>By empowering students with these abilities, we help them grow into confident, creative thinkers equipped to tackle real-world challenges.</p>
        </div>
    </div>
    <div class="Schedule">
        <h2>Schedule</h2>
        <table>
            <tr>
                <td>Day 1: HTML, Intro to CSS, and Git</td>
                <td>Day 6: SQL</td>
            </tr>
            <tr>
                <td>Day 2: CSS</td>
                <td>Day 7: PostgreSQL</td>
            </tr>
            <tr>
                <td>Day 3: JS and jQuery</td>
                <td>Day 8: Authentication and Security</td>
            </tr>
            <tr>
                <td>Day 4: Node, NPM, and Express</td>
                <td>Day 9: Begin Project</td>
            </tr>
            <tr>
                <td>Day 5: EJS</td>
                <td>Day 10: Project Presentation</td>
            </tr>
        </table>
    </div>
    <h2>Scoreboard</h2>
    <div class="scoreboard">
        <div class="scorebox win">
            <h3>Team <br> Blue </h3>
            <h3>0</h3>
        </div>
        <div class="scorebox mac">
            <h3>Team <br> Red</h3>
            <h3>0</h3>
        </div>
        <div class="scorebox lin">
            <h3>Team <br> Yellow</h3>
            <h3>0</h3>
        </div>
    </div>
    <%- include("footer.ejs") %>
</body>
</html>

<!--
We provide free, comprehensive courses in full-stack web development tailored for middle school students.

Our teaching approach emphasizes critical thinking and problem-solving to build a strong foundation beyond just coding skills.

By empowering students with these abilities, we help them grow into confident, creative thinkers equipped to tackle real-world challenges.-->