@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #e8e8ed66;
}
* {
    font-family: "Lato", sans-serif;
}
#header h1, #header h2{
    font-family: roboto mono, roboto, serif 
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 4em;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

table {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    text-align: center;
}
#top {
    color: white;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}


div {
    padding: 2%;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}
td {
    padding: 15px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.win{
    background-color: #357EC7;
    padding: 1%;
    
}

.mac {
    background-color: #FF3B30;
    padding: 1%;
}

.lin {
    background-color: #f0b912;
    padding: 1%;
}
.scorebox {
    color: white;
    text-align: center;
    width: 100vh;
    font-weight:bolder;
    border-radius: 10px;
    margin: 10px;
    
}

.Intro {
    display: flex;
}



.Intro-box {
    text-align: center;
    font-weight:bolder;
    border-radius: 10px;
    margin: 10px;
    padding: 1%;
    width: 33%;
    outline-style: solid;
    outline-width: 5px;
    outline-color: black;
}
nav {
    display: flex;
    top: 1%;
    align-items: center;
}


nav a {
    color: white;
    margin-right: 2%;
    font-weight: bolder;
    font-size: larger;
}

#home {
    margin-left: auto;
}
#top {
  position: sticky;
  top: -22.75em; /* Equal to the height difference between header-outer and header-inner */
  border-radius: 10px 10px 25px 25px;
}

#logo {
    height: 4em;
    margin-right: 2%;

}

nav {
  position: sticky;
  top: 1; 
}
#header {
    margin-bottom: 1%;
}


@media screen and (max-width: 600px) { 

    nav a {
    margin-right: 5%;
    text-shadow: 2px 2px 5px black;
    }

    p {
    text-align: left;
    }
    #top {
  position: sticky;
  top: -22em; /* Equal to the height difference between header-outer and header-inner */
}
 nav {
    justify-content: center;
 }
 .Intro {
    display: block;
 }
 .Intro-box {
    width: auto;
    margin-bottom: 20px;
 }
  #logo {
    display: none;
    position: none;
  }
  #home {
    margin-left:0%;
}
}